.nav-link:hover{
    color: rgb(0, 195, 255);
}



.navbar {
    background: linear-gradient(90deg, #1e3a8a, #1a78cf);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius:15px;
}

body{
    background:#2c3035;
}
