.nav-link:hover{
    color:#4E7ED6;
}



.navbar {
    background-color: rgba(5, 10, 15, 0.7);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px);
    position: sticky;
    z-index: 1000;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255,255,255,0.08);
    top: 0px;
}

body{
    background:#000001
}
.navbar-brand img {
    height: 45px;
    width: auto;
}
.hero {
    height: 800px;

     background-image: url("hero.png");
    background-size: cover;        
     background-position: center;   
    background-repeat: no-repeat;  

    position: relative;
    margin-top:10px;
    border-radius: 15px;
    z-index: 1;
    min-height: 90vh;
    padding: 40px;

}

.hero-text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(248, 244, 244);
    text-align: left;
    z-index: 2;
}

.hero-text h1 {
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-text p {
    padding-top:10px;
}
.why-us {
    color: rgb(248, 244, 244);
    text-align:center;
    margin-top:100px;
}
.col{
    text-align: center;
    padding:29px;
    color: rgb(248, 244, 244);
}
.icn-txt{
    color: rgb(248, 244, 244);
    padding-top: 30px;
    font-size: 18px;}
.cards {
  background:rgba(5, 10, 15, 0.95);                /* slightly lighter than body */
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  color: #f1f1f1;

  transition: all 0.3s ease;
}
.cards:hover {
  transform: translateY(-6px);
  border-color: rgba(3, 59, 181, 0.45); /* subtle blue glow */
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.contact-banner{
    width:100%;
    background:rgba(5, 10, 15, 0.95);
   border: 1px solid rgba(255,255,255,0.08);
    border-radius:18px 18px 0px 0px;
    padding:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    position:relative;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.contact-left{
    width:45%;
    z-index:2;
}

.contact-left h2{
    color:white;
    font-size:52px;
    margin-bottom:18px;
}

.contact-left p{
    color:#B8C4D0;
    line-height:1.8;
    margin-bottom:30px;
    font-size:17px;
}

.socials{
    display:flex;
    gap:14px;
}

.socials a{
    width:46px;
    height:46px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    border-radius:12px;
    background:rgba(9, 17, 26, 0.95);
    border:1px solid rgba(255,255,255,.08);
    color:#3F6FC9;
    transition:.3s;
}

.socials a:hover{
    background:#033BB5;
    color:white;
    transform:translateY(-5px);
}

.contact-right{
    display:flex;
    gap:40px;
    z-index:2;
}

.info-card{
    position:relative;
    width:220px;
    height:150px;
}

.card-shadow{
    position:absolute;
    inset:0;
    background:#121D2A;
    border-radius:18px;
    transform:translate(12px,12px);
}

.card-main{
    position:absolute;
    inset:0;
    background:rgb(9, 17, 26);
    border-radius:18px;
    border:1px solid rgba(255,255,255,.08);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:18px;
    transition:.35s;
}

.card-main i{
    font-size:34px;
    color:#3F6FC9;
}

.card-main p{
    color:white;
    text-align:center;
    padding:0 18px;
    line-height:1.5;
}

.info-card:hover .card-main{
    transform:translate(-8px,-8px);
    box-shadow:0 0 30px rgba(3,59,181,.35);
}
.footer-logo{
    width: clamp(180px, 15vw, 380px);
    height: auto;
    display: block;
}